{% extends 'base.html' %}
{% block content %}
    <script>
        function choiceSelection(event) {
            if (event.target.id === "id_branch_1") {
                index = event.target.selectedIndex;
                document.getElementById('id_branch_2').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_3').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_4').options[index].setAttribute("disabled", "");
            } else if (event.target.id === "id_branch_2") {
                index = event.target.selectedIndex;
                document.getElementById('id_branch_1').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_3').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_4').options[index].setAttribute("disabled", "");
            } else if (event.target.id === "id_branch_3") {
                index = event.target.selectedIndex;
                document.getElementById('id_branch_2').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_1').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_4').options[index].setAttribute("disabled", "");
            } else if (event.target.id === "id_branch_4") {
                index = event.target.selectedIndex;
                document.getElementById('id_branch_1').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_2').options[index].setAttribute("disabled", "");
                document.getElementById('id_branch_3').options[index].setAttribute("disabled", "");
            }
            console.log(event.target.selectedIndex, event.target.id);
        }
    </script>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
{% endblock %}