{% extends 'base.html' %}
{% block content %}
<br>
    {% if user.is_authenticated %}
    {% if user.pk in admin_all or user.pk in frontend_all %}
        {% for notice in notices %}
        <a href="{{ notice.pdf.url }}">{{ notice.text }}</a><Br>
        
         <a href="{% url 'frontend:delete_notice' pk=notice.pk %}">x</a> <br>
        {% endfor %}
    {% endif %}
    {% endif %}
    {% if not user.is_authenticated %}
    {% for notice in notices %}
        <a href="{{ notice.pdf.url }}">{{ notice.text }}</a><Br>
    {% endfor %}
    {% endif %}
{% endblock %}