{% extends 'base.html' %}
{% block content %}
<br><br><br>        
    {% for syllabus in syllabus_list %}
    <br><br>
        <a href="{{syllabus.pdf.url}}">{{syllabus.course.department.name}} - {{syllabus.course.name}} - {{syllabus.semester}}</a>
        {% if user.is_authenticated %}
            {% if user.pk in admin_all or user.pk in frontend_all %}
                <a href="{% url 'frontend:edit_syllabus' pk=syllabus.pk %}">Edit</a>
                <a href="{% url 'frontend:delete_syllabus' pk=syllabus.pk %}">x</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}