{% extends 'base.html' %}
{% block content %}
	
	<h4>Faculty</h4>
	<ul>
		{% for faculty in faculty_list %}
			<li>
				<a href="{% url 'frontend:view_faculty' pk=faculty.pk %}">{{ faculty.name }}</a>
				{% if user.pk in admin_all %}
					<a href="{% url 'frontend:delete_faculty' pk=faculty.pk %}">x</a>
					<a href="{% url 'frontend:edit_faculty' pk=faculty.pk %}">Edit</a>
				{% elif user.pk in frontend_all %}
					<a href="{% url 'frontend:delete_faculty' pk=faculty.pk %}">x</a>
					<a href="{% url 'frontend:edit_faculty' pk=faculty.pk %}">Edit</a>
				{% endif %}
			</li>

		{% endfor %}
	</ul>
	<br><br><br>
	{{faculty.department}}<br>
    {{faculty.name}}<br>
    <img src="{{faculty.pic.url}}" alt="Faculty Image" height="100" width="100"><br>
    {{faculty.designation}}<br>
    {{faculty.contact_num}}<br>
    {{faculty.qualification1}}<br>
    {{faculty.qualification2}}<br>
    {{faculty.qualification3}}<br>
    {{faculty.field_of_interest}}<br>
    {{faculty.experience}}
{% endblock %}