{% extends 'base.html' %}
{% load counter %}
{% block content %}
    <h1>Home Page</h1>
    <img src="{{ home_image.logo_image.url }}" height="100" width="100"><br>
    <img src="{{ home_image.carousel_image1.url }}" height="100" width="100">
    <img src="{{ home_image.carousel_image2.url }}" height="100" width="100">
    <img src="{{ home_image.carousel_image3.url }}" height="100" width="100">
    <img src="{{ home_image.carousel_image4.url }}" height="100" width="100"><br>
    <img src="{{ home_image.side_image.url }}" height="100" width="100">
    <br><br><br>
    Students: {{stats.students}}<br>
    Area: {{stats.area}} sq. mt.<br>
    Alumni: {{stats.alumni}}<br>
    Recruiters: {{stats.recruiters}}<br>
    Students Placed: {{stats.students_placed}}<br>
    Years of Excellency: {{stats.years}}<br>
    <br><br><br>
    {% for notice in notices %}
        {% if forloop.counter|count4 %}
            <a href="{{ notice.pdf.url }}">{{ notice.text }}</a>
        {% endif %}
    {% endfor %}
    <br><br><br>
    {% for media in medias %}
        {% if forloop.counter|count4 %}
            <img src="{{ media.pic.url }}" height="100" width="100">
        {% endif %}
    {% endfor %}
    <br><br><br>
    {% for event in events %}
        {% if forloop.counter|count4 %}
            <h3>{{event.heading}}</h3>
            <img src="{{ event.image.url }}" height="100" width="100">
            <p>{{event.details}}</p>
        {% endif %}
    {% endfor %}
    <br><br><br>
    {% for testimonial in testimonials %}
        {% if forloop.counter|count4 %}
            <h3>{{testimonial.name}}</h3>
            <img src="{{ testimonial.image.url }}" height="100" width="100">
            <p>{{testimonial.text}}</p>
        {% endif %}
    {% endfor %}
    <br><br><br>
    {% for recruiter in recruiters %}
        {% if forloop.counter|count4 %}
            <img src="{{ recruiter.image.url }}" height="100" width="100">
        {% endif %}
    {% endfor %}
{% endblock %}